<template name="comments">
    <div class="row comment-box">
        <div class="col-xs-6 col-sm-6">
            <h2 class="title">Comments</h2>
        </div>
        <div class="col-xs-6 col-sm-6">
            <span class="pull-right text-muted">49 COMMENTS</span>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-3 col-sm-2">
            <img class="avatar" src="/images/avatar.png">
        </div>
        <div class="col-xs-9 col-sm-10">
            <textarea class="form-control" placeholder="Write a Comment..."></textarea>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <button class="btn btn-primary transparent pull-right">COMMENT</button>
        </div>
    </div>

    <div class="row comment">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-xs-6 col-md-6">
                    <span class="name">Gregory Coleman</span>
                </div>
                <div class="col-xs-6 col-md-6">
                    <span class="pull-right date">12 Feb 2018</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <img class="avatar" src="/images/avatar.png">
                </div>
                <div class="col-xs-9 col-sm-10">
                    <div class="message">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit expedita ducimus sunt repellendus sit, nobis quisquam
                        aut vero consectetur, tempora dignissimos quibusdam placeat modi quaerat, optio corrupti exercitationem
                        odit quis.
                    </div>
                    <div class="reply">
                        <button class="btn btn-link">
                            <i class="fa fa-thumbs-down text-danger"></i>
                        </button>
                        <button class="btn btn-link">
                            <i class="fa fa-thumbs-up text-success"></i>
                        </button>
                        <button class="btn btn-link">
                            <span class="text-primary">
                                Reply
                                <i class="fa fa-reply"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
        </div>
    </div>


    <div class="row comment">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-xs-6 col-md-6">
                    <span class="name">Gregory Coleman</span>
                </div>
                <div class="col-xs-6 col-md-6">
                    <span class="pull-right date">12 Feb 2018</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <img class="avatar" src="/images/avatar.png">
                </div>
                <div class="col-xs-9 col-sm-10">
                    <div class="message">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit expedita ducimus sunt repellendus sit, nobis quisquam
                        aut vero consectetur, tempora dignissimos quibusdam placeat modi quaerat, optio corrupti exercitationem
                        odit quis.
                    </div>
                    <div class="reply">
                        <button class="btn btn-link">
                            <i class="fa fa-thumbs-down text-danger"></i>
                        </button>
                        <button class="btn btn-link">
                            <i class="fa fa-thumbs-up text-success"></i>
                        </button>
                        <button class="btn btn-link">
                            <span class="text-primary">
                                Reply
                                <i class="fa fa-reply"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
        </div>
    </div>

    <div class="row comment">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-xs-6 col-md-6">
                    <span class="name">Gregory Coleman</span>
                </div>
                <div class="col-xs-6 col-md-6">
                    <span class="pull-right date">12 Feb 2018</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <img class="avatar" src="/images/avatar.png">
                </div>
                <div class="col-xs-9 col-sm-10">
                    <div class="message">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit expedita ducimus sunt repellendus sit, nobis quisquam
                        aut vero consectetur, tempora dignissimos quibusdam placeat modi quaerat, optio corrupti exercitationem
                        odit quis.
                    </div>
                    <div class="reply">
                        <button class="btn btn-link">
                            <i class="fa fa-thumbs-down text-danger"></i>
                        </button>
                        <button class="btn btn-link">
                            <i class="fa fa-thumbs-up text-success"></i>
                        </button>
                        <button class="btn btn-link">
                            <span class="text-primary">
                                Reply
                                <i class="fa fa-reply"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
        </div>
    </div>
</template>