<template name="valuations">
    <div class="valuations">
        <div class="row">
            <div class="col-xs-4 col-sm-6">
                <h2 class="title">Valuations</h2>
            </div>
            <div class="col-xs-8 col-sm-6">
                <a href="#" class="btn btn-link btn-primary pull-right">VALUATION ANALYSIS PROVIDERS</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- <div class="spacer"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert-message">
                    <i class="fa fa-exclamation-triangle"></i> SELLER HAS POSTED NO VALUATION
                </div>
            </div>
            <div class="clearfix"></div>
        </div> -->
        <div class="spacer"></div>
        <div class="row valuation">
            <div class="col-xs-3 col-sm-3 col-md-2 avatar">
                <img src="/images/avatar-sm.png">
            </div>
            <div class="col-xs-9 col-sm-9 col-md-4 info no-padding left">
                <div class="name">Terry Hamilton</div>
                <div class="div_rating">
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                <div class="spacer"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="text-caption">Valuation:</div>
                <div class="text-amount text-primary">$1,123,990.00</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <button class="btn btn-primary transparent">
                    <img src="/images/icons/doc-pdf.svg"> PDF REPORT
                </button>
            </div>
            <div class="col-xs-12">
                <hr>
            </div>
        </div>

        <div class="row valuation">
            <div class="col-xs-3 col-sm-3 col-md-2 avatar">
                <img src="/images/avatar-sm.png">
            </div>
            <div class="col-xs-9 col-sm-9 col-md-4 info no-padding left">
                <div class="name">Terry Hamilton</div>
                <div class="div_rating">
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                <div class="spacer"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="text-caption">Valuation:</div>
                <div class="text-amount text-primary">$1,123,990.00</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <button class="btn btn-primary transparent">
                    <img src="/images/icons/doc-pdf.svg"> PDF REPORT
                </button>
            </div>
            <div class="col-xs-12">
                <hr>
            </div>
        </div>

        <div class="row valuation">
            <div class="col-xs-3 col-sm-3 col-md-2 avatar">
                <img src="/images/avatar-sm.png">
            </div>
            <div class="col-xs-9 col-sm-9 col-md-4 info no-padding left">
                <div class="name">Terry Hamilton</div>
                <div class="div_rating">
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                    <span>
                        <img src="/images/icons/star.svg" alt="" />
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                <div class="spacer"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="text-caption">Valuation:</div>
                <div class="text-amount text-primary">$1,123,990.00</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <button class="btn btn-primary transparent">
                    <img src="/images/icons/doc-pdf.svg"> PDF REPORT
                </button>
            </div>
            <div class="col-xs-12">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <button class="btn btn-block btn-primary transparent">REQUEST VALUATION</button>
            </div>
            <div class="col-xs-12 hidden-sm hidden-mg hidden-lg">
                <div class="spacer"></div>
            </div>
            <div class="col-xs-12 col-md-6">
                <button class="btn btn-block btn-primary btn-smartlaw-primary">BUY VALUATION</button>
            </div>
        </div>
    </div>
</template>