.valuations {
    .alert-message {
        text-align: center;
    }
    .valuation {
        .avatar {
            // img {
            //     width: 75%;
            // }
        }
        .info>.name,
        .text-caption {
            font-weight: 500;
            font-size: 16px;
            color: #000000;
        }
        .text-amount {
            font-weight: 500;
            font-size: 14px
        }
    }
}