.register-trustee {
    color: #000000;
    .block {
        background: #FFFFFF;
        border-radius: 4px;
    }
    .header {
        padding-top: 15px;
        padding-bottom: 15px;
        text-transform: uppercase;
        h2.title {
            margin: 5px 0;
            color: #4A4A4A;
            font-family: Roboto;
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
        }
    }
    .image-id {
        max-width: 100%;
        margin: 0 auto;
    }
    .upload-progress {
        font-size: 8px;
    }
    .data-form {
        padding: 40px;
        .fa-download {
            float: left;
            margin-top: 5px;
        }
        .terms {
            font-family: Roboto;
            font-size: 18px;
            text-align: center;
            line-height: 34px;
        }
        .form-group {
            .radio-inline {
                padding-right: 50px;
                padding-left: 50px;
            }
            label {
                font-weight: 500;
                font-size: 12px;
                letter-spacing: 0;
                text-transform: uppercase;
            }
            .form-control {
                box-shadow: none;
            }
        }
        .upload-box {
            cursor: pointer;
            .box {
                width: 100%;
                border: dashed 2px rgba(24,117,240,0.25);
                color: #1875F0;
                padding: 35px 15px;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 14px;
                text-align: center;
                line-height: 22px;
            }
        }
    }
}